/* Write your CSS here */
.layout-controls-container {
  background-color: #475569;
  height: 30vh;
  width: 100vw;
  color: #e2e8f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.layout-heading {
  font-family: 'Consolas';
  font-size: 20px;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.label-name {
  font-family: 'Consolas';
  font-weight: 600;
  font-size: 20px;
}
